{% extends "Ecomm/base.html" %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card" style="width: 100%; max-width: 400px;">
      <div class="card-body">
        {% if form.errors %}
          <p class="text-danger">Your Username or Password didn't match. Please try again.</p>
        {% endif %}

        <form method="post" action="{% url 'users:login' %}" class="form-group">
          {% csrf_token %}
          {{ form.as_p }}

          <button name="submit" class="btn btn-success w-100">LogIn</button>
          <input type="hidden" name="next" value="{% url 'Ecomm:Home_page' %}" />
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
